@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.div1 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

footer {
    margin-top: 10%;
}

.div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.button-nav {
    display: flex;
    justify-content: end;
}

.icon {
    margin-right: 70px;
}

footer .div2 p {
    color: white;
}

.icon {
    margin-right: 70px;
}

nav {

    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    background-image: url('../IMG/Productos/Pasteles/Castellano\ Petit.webp');
    margin-bottom: 5%;
    background-size: cover;
    height: 120px;

}




.button button {
    border-radius: 30px;
    font-size: 20px;
    color: white;
    width: 130px;
    height: 30px;

    outline: none;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}


.opciones li a:hover {
    border-bottom: 2px solid #FF4B2B;
    /* Añade una línea de fondo al hacer hover */
}



button {
    border-radius: 30px;
    background-color: transparent;
    color: white;
    height: 30px;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.button button:hover {
    border-radius: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #FF4B2B;
    border-radius: 0%;
    border-top: none;
    border-right: none;
    border-left: none;




}

.info-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.info {
    text-align: center;
}

.info-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.Inicio-pasteles {
    width: 100%;
    height: 120%;
    background-color: white;
    margin-top: 80px;
}

.contenedor-izquierdo {
    width: 60%;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(81, 58, 63);
}

.contenedor-izquierdo h1 {
    color: rgb(67, 45, 50);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.contenedor-izquierdo p {
    color: rgb(67, 45, 50);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: rgb(67, 45, 50);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}






.cart-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    height: 120%;
}

.cart {
    width: 50%;
    padding: 20px;

}

.checkout {
    width: 50%;
    padding: 20px;
    color: white;
    padding-bottom: 60px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.product-details {
    flex: 1;
    font-weight: bold;
}

.product-quantity {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.quantity-button {
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
}

.quantity {
    font-size: 16px;
}


.button-comprar {
    cursor: pointer;
    background-color: #FF4B2B;
    height: 15%;
    width: 80%;
    align-items: center;
    justify-content: center;


}

.button-comprar:disabled {
    cursor: default;
    background-color: #ff7259;
}



.div2 {
    background-color: #261c1f;
    padding: 20px;
    text-align: center;
    color: white;
    height: 110px;
}

.contenedor4 {

    margin-top: 10%;
}

.item1 {
    text-align: center;
}

.imagen-redonda {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

}